<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <substitutionProperty name="log.base" value="${apps.log.base}/test-web" />
    <jmxConfigurator />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->
    <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <Encoding>UTF-8</Encoding>
        <File>${log.base}/debug.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/debug.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <Encoding>UTF-8</Encoding>
        <File>${log.base}/info.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/info.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <Encoding>UTF-8</Encoding>
        <File>${log.base}/warn.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/warn.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <Encoding>UTF-8</Encoding>
        <File>${log.base}/error.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}/error.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- 需要记录日志的包 -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.quartz" level="WARN"/>
    <logger name="com.mchange" level="WARN"/>
    <logger name="freemarker" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="net.sf" level="WARN"/>
    <logger name="net.spy" level="WARN"/>
    <logger name="com.danga" level="ERROR"/>
    <logger name="com.googlecode" level="ERROR"/>
    <logger name="org.mybatis" level="ERROR" />
    <logger name="com.sangame.sow" level="ERROR"/>

    <root>
        <level value="debug" />
        <appender-ref ref="stdout" />
        <appender-ref ref="debug" />
        <appender-ref ref="info" />
        <appender-ref ref="warn" />
        <appender-ref ref="error" />
    </root>

</configuration>