<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter"/>
			</list>
		</property>
	</bean>

	<bean id="jsonConverter" class="com.sangame.sow.web.springmvc.converter.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json"/>
	</bean>
	
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
				<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
					<property name="cache" value="true"/>
					<property name="prefix" value=""/>
					<property name="suffix" value=".ftl"/>
					<property name="contentType" value="text/html;charset=UTF-8"/>
					<property name="requestContextAttribute" value="request"/>
					<property name="exposeSpringMacroHelpers" value="true"/>
					<property name="exposeRequestAttributes" value="true"/>
					<property name="exposeSessionAttributes" value="true"/>
				</bean>
			</list>
		</property>
	</bean>

	<mvc:interceptors>
		<bean class="com.sangame.jjh.quote.web.interceptor.GenericInterceptor"/>
		<bean class="com.sangame.jjh.quote.web.interceptor.CacheInterceptor"/>
	</mvc:interceptors>

	<mvc:annotation-driven/>

	<context:component-scan base-package="com.sangame.jjh.quote.web" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

</beans>