<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.wyc.web.action.listener.ApplicationListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.wyc.web.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
</web-app>
